.main-view {
	min-height: 600px;	
}

.signup-container {
	max-width: 400px;
	margin: 0 auto;
}

.login-container {
	max-width: 400px;
	margin: 0 auto;
}

#myCarousel {
	height: 500px;
}

#myCarousel .item {
	height: 500px;
	background-color: #777;
}