<div class="container">
	<div class="row" style="margin:20px 0;">
		<div class="col-xs-10">
			<h1>{{composer.composer.fullname}}</h1>
			<p>{{composer.composer.bio}}</p>
			<button type="button" class="btn btn-success">Follow</button>
			<button type="button" class="btn btn-info">Add to Favorite</button>
			<br>
		</div>
		<div class="col-xs-2">
			<img class="img-circle img-responsive" ng-src="{{composer.composer.image}}">
		</div>
	</div>
	<hr></hr>
	<div class="row">
		<div class="col-xs-3">
			<div class="panel panel-default">
				<div class="panel-heading">Biography</div>
				<ul class="list-group">
					<li class="list-group-item">Dapibus ac facilisis in</li>
					<li class="list-group-item">Morbi leo risus</li>
					<li class="list-group-item">Porta ac consectetur ac</li>
					<li class="list-group-item">Vestibulum at eros</li>
				</ul>
			</div>
		</div>
		<div class="col-xs-9">
			<div class="panel panel-default">
				<div class="panel-heading">Compositions</div>
				<table class="table">
					<thead>
						<tr>
							<th>#</th>
							<th>Title</th>
							<th>Opus (Op.)</th>
							<th>Number (No.)</th>
							<th>Instrumentation</th>
							<th>Type</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="composition in composer.compositions">
							<th scope="row">{{$index + 1}}</th>
							<td><a ng-href="{{::composition.getUrl()}}">{{composition.title}}</a></td>
							<td>{{composition.opus}}</td>
							<td>{{composition.number}}</td>
							<td>{{composition.instrumentation}}</td>
							<td>{{composition.type}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>